
body {
    background-color: #F2F6FF;
}


form {
    background-color: #FFFFFF;
    width: 375px;
    height: 667px;
    margin: 25px auto;
    border-radius: 10px;
    /*-webkit-box-shadow: -1px 9px 35px 0 rgba(106,131,212,0.8);*/
    /*-moz-box-shadow: -1px 9px 35px 0 rgba(106,131,212,0.8);*/
    box-shadow: -1px 9px 35px 0 rgb(188, 194, 232);
}


h3 {
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px 0;
    color: #1D2B57;
}


input {
    width: 299px;
    height: 63px;
    text-indent: 15px;
    border-radius: 3px;
    border: 3px solid #EEF1F9;
    color: #AAB0BF;
}


#image {
    display: block;
    margin: auto;
}


#log-in-container {
    width: 305px;
    height: 500px;
    margin: auto;
    padding-top: 75px;

}


#log-in-btn {
    color: white;
    font-weight: bold;
    border: none;
    margin-top: 30px;
    text-indent: 0;
    cursor: pointer;
    height: 60px;
    width: 302px;
    border-radius: 3px;
    background-color: #6A83D4;
    box-shadow: 0 2px 8px 0 rgba(106,131,212,0.42);
}


@media screen and ( max-width: 480px ) {

    form {
        width: 90%;
        height: 90%;
    }
}