
body {
    background-color: #F2F6FF;
}


#input-screen-container {
    background-color: #FFFFFF;
    width: 380px;
    height: 650px;
    margin: 25px auto;
    border-radius: 10px;
    box-shadow: -1px 9px 35px 0 rgb(188, 194, 232);
    position: relative;
}


#background {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: transparent;
    transition: background-color 3s ease;
}


#background.light {
    background-color: #283766;
}


button {
    width: 115px;
    height: 115px;
    border-radius: 50%;
    border: none;
    font-size: 18px;
    font-weight: bold;
    margin: 7px;
    box-shadow: -1px 3px 10px 0 rgb(188, 194, 232);
    background-color: white;
    cursor: pointer;
    outline: none;
}


.button-container {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: none;
    font-size: 15px;
    font-weight: bold;
    background-color: #F2F6FF;
    margin: auto;
    position: absolute;
    bottom: 30px;
    left: calc(50% - 65px);
    z-index: 100;
}


#range-input-container {
    width: 120px;
    height: 100px;
    margin: auto;
    position: absolute;
    bottom: 140px;
    left: calc( 50% - 150px);
}


/*SLIDER*/


.rs-border {
    border: none;
}


.rs-range-color {
    background-color: #F2F6FF;
}


.rs-path-color {
    background-color: #F2F6FF;
}


.rs-handle {
    background-color: #6A83D4;
    box-shadow: 3px 1px 10px 0 rgb(188, 194, 232);
}


/* OFF */

.hide {
    display: none;
}


#input-screen-container.background-off {
    background-color: rgba(16, 33, 76, 0.95);
}


.button-off {
    background-color: #1D2B57;
    color: #6A83D4;
    box-shadow: -1px 3px 10px 0 rgb(29, 43, 87);
}


.off {
    background-color: #2D3D6E;
}


.disable-css-transitions {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}



@media screen and ( max-width: 480px ) {

    #input-screen-container {
        width: 95%;
        height: 580px;
    }
}

